
@keyframes animacja {
	0%   {top: 0px; left: 0px; transform: rotate(90deg);}
    25%  {top: 94%; left: 0px; transform: rotate(0deg);}
    50%  {top: 94%; left: 90%; transform: rotate(-90deg);}
    75%  {top: 0px; left: 90%; transform: rotate(-180deg);}
    100% {top: 0px; left: 0px; transform: rotate(-270deg);}
}

/* @-webkit-keyframes animacja {
	0%   {top: 0px; left: 0px; transform: rotate(90deg);}
    25%  {top: 94%; left: 0px; transform: rotate(0deg);}
    50%  {top: 94%; left: 90%; transform: rotate(-90deg);}
    75%  {top: 0px; left: 90%; transform: rotate(-180deg);}
    100% {top: 0px; left: 0px; transform: rotate(-270deg);}
} */ /* pan apple nie lubi to supportu dla safari nie ma XD */

@keyframes rgb {
	0% 					{background-color: hsl(0, 100%, 50%);}
	16.6666666666666% 	{background-color: hsl(60, 100%, 50%);}
	33.3333333333333% 	{background-color: hsl(120, 100%, 50%);}
	50% 				{background-color: hsl(180, 100%, 50%);}
	66.6666666666666% 	{background-color: hsl(240, 100%, 50%);}
	83.3333333333333% 	{background-color: hsl(300, 100%, 50%);}
	100% 				{background-color: hsl(360, 100%, 50%);}

}
/* fuck apple v2 */

body{
	background-image: url("sylwek.png");
	background-repeat:no-repeat;
	background-size:cover;
	margin-left: auto;
	margin-right: auto;
}

#cale{
	text-align: center;
	font-size:20px;
	color:white;
	margin-left: auto;
	margin-right: auto;
}

#gora{
	font-family: Verdana;
	font-size: 50px;
	padding: 20px;
	margin-bottom: 50px;
}

.content {
	width: 100%;
	text-align: center;
}

.menu {
	position: relative;
	display: inline-block;
	color: white;
}

.center {
	opacity: 0.6;
	display: inline-block;
	text-align: center;
	color: white;
	width: 500px;
	height: 828px;
	margin: 0 30px;
	background-color: red;
	position: relative;
	text-align: left;
	animation-name: rgb;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
  
.centered {
	opacity: 0.6;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: red;
	font-size: 30px;
	width: 200px;
}
.top-left {
	position: absolute;
	top: 120px;
	left: 16px;
	padding-right:30px;
	text-align: justify;
	font-size: 30px;

}
p {
	margin: 20px;
}
.packman {
	
	width: 50px;
	height: 50px;
	animation-name: animacja;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	/* -webkit-animation-name: animacja;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite; */
	position: absolute;
}
	


